@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import "tailwindcss";

:root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;

	.spin-container {
		position: relative;
	}

	.spin-container::before {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(to left, #7928ca, #008080);
		border-radius: 0.375rem;
		animation: spin 2s linear forwards infinite;
	}

	.spin-container-fast {
		position: relative;
	}

	.spin-container-fast::before {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(to left, #e45b43, #b7841c);
		border-radius: 0.375rem;
		animation: spin 0.6s linear forwards infinite;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}
